@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

nav {
    color: white;
    background-color:orangered;
    border-bottom: solid 1px black;
    padding: 16px;
}

main {
    padding: 16px;
}

img {
    height: 200px;
    box-shadow: 0 2px 4px 2px black;
}

footer {
    background-color: orange;
    position:fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    text-align: center;
}

a {
    color:black;
    text-decoration: none;
}

a:hover {
    background-color: gold;
}

a:visited {
    color: purple;
}

.stars {
    padding: 7px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 1fr;
    column-gap: 20px;
    padding-left: 15px;
    padding-bottom: 15px;
}

.grid:hover {
    box-shadow: 0 2px 4px 2px orange;
}

tr:nth-child(even) {
    background-color: lightgrey;
}
